body{
    margin: 0;
    padding: 0;
    background-color: #212529;
    background-image: linear-gradient(180deg,rgba(33,37,41,0.1) 0%, rgba(33,37,41,1) 85%),
    radial-gradient(ellipse at top left, rgba(13, 110, 253, 0.5), transparent 50%),
    radial-gradient(ellipse at top right, rgba(255, 228, 132, 0.5), transparent 50%),
    radial-gradient(ellipse at center right, rgba(112.520718, 44.062154, 249.437846, 0.5), transparent 50%),
    radial-gradient(ellipse at center left, rgba(214, 51, 132, 0.5), transparent 50%);
    background-repeat: no-repeat;
    height: 48rem;
    user-select: none;
    width: 100%;
}

a{
    text-decoration: none;
}

.about h4{
    color: white;
}

.about .card{
    margin-inline: 8%;
}

.log{
    width: 30%;
}

.log1{
    width: 65%;
}

.prev{
    width: 100%;
    image-rendering: optimizeQuality;
    border-radius: 5px;
}

.allcard .card .dentro{
    margin-inline: 7%;
}

main{
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 70px;
}

.follower {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #3498db00;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
}

.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.particle {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: rgba(52, 152, 219, 0.7);
    border-radius: 50%;
    transform-origin: center;
    animation: particleAnimation 1s ease-out;
}

@keyframes particleAnimation {
    to {
        transform: scale(0);
        opacity: 0;
    }
}

.header{
    position: fixed;
    padding: 0%;
    z-index: 1000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to right, rgba(112, 44, 249, 0.3), rgba(214, 51, 132, 0.5), transparent 100%);
    background-color: rgba(112.520718, 44.062154, 249.437846, 0.5);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
}

.header img{
    width: 5%;
}

header a{
    color: white;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    image-rendering: optimizeQuality;
}

.cont{
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 50px;
}

.allcard{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 31rem;
    background-image: url(./img/logo1.png);
    background-repeat: repeat-x;
    background-position: center;
    background-size: 31%;
}

.card{
    width: 27%;
    height: 30rem;
    text-align: center;
    background-color: rgba(55, 38, 72, 0.367);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}

.about{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
}

.about .card{
    background-color: rgba(38, 65, 72, 0.367);
    backdrop-filter: blur(10px);
}

.about .card img{
    width: 50%;
    border-radius: 100px;
    margin-top: -80px;
}

.about .card p{
    margin: 0px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 45px;
}

.inicio{
    margin-inline: 10%;
    text-align: center;
}

.foot{
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
    padding-right: 1rem!important;
    padding-left: 1rem!important;
    background-color: #2B3035;
    height: 10rem;
    position: relative;
    margin: 0;
}

.foot:after {
    content: "";
    display: table;
    clear: both;
}

.foot{
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #dee2e6b7;
    justify-content: space-around;
}

.info img{
    width: 15%;
    height: 15%;
}

.info{
    display: flex;
    width: 50%;
    margin-inline-end: 40%;
}

.links{
    display: flex;
    color: #dee2e6b7;
    justify-content: space-around;
    width: 50%;
}

.links a{
    color: #dee2e67a;
}

.linkred{
    display: grid;
}

.linkcon{
    display: grid;
}